@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/site.css"/>
<div class="text-center">
    <div class="row">
        <div class="col-8 map" id="map"></div>
        <div class="col-4 flight-list">
            <div id='dragbox' ondrop="dropHandler(event)" ondragover="allowDrop(event)" ondragleave="hideDropStyle(event)">
                <br>
                <ul class="list-group" id="flight-list">
                </ul>
                <div id="drop-text" style="display: none" class="drop-text">
                    Drop A Flight Plan .Json File Here 
                </div>
            </div>
        </div>
    </div>
    <div class="row flight-details">
        <table class="col-8 table-bordered">
            @* <thead> *@
            @* <th> *@
            @*     <span> *@
            @*         Flight Details *@
            @*     </span> *@
            @* </th> *@
            @* </thead> *@
            <tbody class="flight-details-table" id="flight-details">
            <tr>
                <td>
                    Passengers: 216
                </td>
                <td>
                    Takeoff Location: 31.3, 32.3
                </td>
                <td>
                    Landing Location: 31.3, 32.3
                </td>
                <td>
                    Airline Company: Delta
                </td>
                <td>
                    Takeoff Time: 16:00:00
                </td>
                <td>
                    Landing Time: 17:30:00
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@* <style> *@
@*     /* Optional: Makes the sample page fill the window. */ *@
@*     html, body { *@
@*         height: 100%; *@
@*         margin: 0; *@
@*         padding: 0; *@
@*     } *@
@* </style> *@

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBztoECaWRdWEGiS5akC4r3iasQexXjCGY&callback=initMap"></script>